@page
@model SphinxCommercial.Presentation.Pages.Product.DetailsModel
@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.Name">Name:</label>
        <input readonly asp-for="Product.Name" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="Product.Description">Description:</label>
        <input readonly asp-for="Product.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Product.IsActive">Is Active:</label>
        <input readonly type="checkbox" asp-for="Product.IsActive" />
    </div>

</form>

<a asp-page="/Product/Edit" asp-route-id="@Model.Product.Id" class="m-2 btn btn-primary">Edit Client</a>
<a asp-page="/Product/Index" class="m-2 btn btn-secondary">Back to List</a>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
